@model List<BmiModel>


<form name="bmiForm">
    <div class="bmi-calculator">
        <h1 style="margin-bottom: 1em;">Calculate your BMI</h1>
        <div class="bmi-calculator-weight">
            <p style="margin-top: 1.8em;">
                WEIGHT:
                <input name="Teža" id="inputWeight" type="number" value="60" min="25" max="180" oninput="showValWeight(this.value)" />
                <span id="weight"></span> kg
            </p>
        </div>
        <div class="bmi-calculator-height">
            <p style="margin-top: 1.8em;">
                HEIGHT:
                <input name="Višina" id="inputHeight" type="number" value="160" min="100" max="220" />
                <span id="height"></span> cm
            </p>
        </div>
        <input id="Calculate" class="gumb" type="button" value="Calculate" onclick="sendData()" style="margin-top: 0.5em">
        <p style="margin-top: 1em;font-size: 1.2em;">
            <strong>Your BMI:</strong>
            <span id="yourbmi" style="font-size: 1.2em;margin-left: 8px;"></span>
        </p>

        <p style="margin-top: 1em;font-size: 1.2em;">
            <strong>Your Group:</strong>
            <span id="yourgroup" style="font-size: 1.2em;margin-left: 8px;"></span>
        </p>

        <p>
            <span id="evaluationMessage"></span>
        </p>
    </div>

    <script type="text/javascript">

        const sendData = async () => {

            const weight = document.getElementById('inputWeight').value;
            const height = document.getElementById('inputHeight').value;

            const model = {
                weight,
                height
            };
            console.log(model);

            const res = await fetch('https://localhost:5001/Bmi/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(model)
            });
            const data = await res.json();
            console.log(data);
            document.getElementById('yourbmi').innerHTML = data.index;
            document.getElementById('yourgroup').innerHTML = data.group;

        }

        //$(document).ready(function () {
        //    $("#Calculate").click(function () {
        //        var weightID = $("#inputWeight").val();
        //        var heightID = $("#inputHeight").val();
        //        console.log(weightID);
        //        console.log(heightID);
        //        $.ajax({
        //            url: 'https://localhost:5001/Bmi/',
        //            headers: {
        //                "Content-Type":"application/json"
        //            },
        //            data: {
        //                "Height": heightID,
        //                "Weight": weightID
        //            },
        //            type: 'POST',
        //            dataType: 'json',
        //            success: function (data) {
        //                console.log(data)
        //            }
        //        });
        //    });
        //});
    </script>

</form>

@*Her sayfa için ayrı css render etmek için*@
@section Styles{
    <link href="~/css/bmi.css" rel="stylesheet" /> }