@model List<BmiModel>


<div class="container">
    <div class="text-field-filled">
        <input type="text" required>
        <span>Weight</span>
    </div><br><br>
    <div class="text-field-outlined">
        <input type="text" required=>
        <span>Height</span>
    </div>
</div>